@import "tailwindcss";

.form-container {
  
    background: linear-gradient(#151515, #121111) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 4s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes blinkBorder {
    0% {
      border-color: transparent;
    }
    50% {
      border-color: rgb(242, 5, 175); 
    }
    100% {
      border-color: transparent;
    }
  }
  
  .blinking-border {
    border: 1px solid transparent; /* Initial border */
    animation: blinkBorder 3s infinite; /* Blinking effect every 1 second */
  }
  
  @keyframes moveDots {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }
  
  .bg-dot-pattern {
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 10px 10px;
  }
  
  .animate-moveDots {
    animation: moveDots 2s linear infinite;
  }
  
/* Custom Scrollbar */
/* Horizontal Scrollbar */
::-webkit-scrollbar {
  height: 4px; /* 👈 This makes horizontal scrollbar thin */
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ec4899;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #db2777;
}



.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #ffc847;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
     transform: rotate(1turn);
  }
}
@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0, 
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.input-style {
  @apply w-full px-4 py-2 rounded-xl bg-zinc-900 text-white 
         border border-zinc-700 focus:border-blue-500 focus:ring-1 
         focus:ring-blue-500 transition-all duration-200 
         outline-none placeholder-gray-500;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #ec4899; /* Modify the icon background */
  border-radius: 50%;
}


@keyframes bounceDelay {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
}
.bounce-delay-1 {
  animation: bounceDelay 1.2s infinite;
  animation-delay: 0s;
}
.bounce-delay-2 {
  animation: bounceDelay 1.2s infinite;
  animation-delay: 0.2s;
}
.bounce-delay-3 {
  animation: bounceDelay 1.2s infinite;
  animation-delay: 0.4s;
}
